<h2>Add a comment</h2>
<form class="form" id="comment-form">
  <div class="form-group">
    <label for="comment-content">Comment:</label>
    <textarea class="form-input" id="comment-content" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button class="btn" id="comment-submit" type="submit" data-pid="{{pid}}">Submit</button>
  </div>
</form>
<script src="/js/addComment.js"></script>