{{!-- addPost.handlebars is the body that renders the form to submit a post  --}}

<h2>Add a post</h2>
<form class="form" id="post-form">
  <div class="form-group">
    <label for="post-title">Post title:</label>
    <textarea class="form-input" id="post-title" rows="1"></textarea>
    <label for="post-content">Post content:</label>
    <textarea class="form-input" id="post-content" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button class="btn" id="add-post" type="submit" data-uid="{{uid}}">Submit</button>
  </div>
</form>
<script src="/js/addPost.js"></script>